*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255); 
    height: 150px;
}

.logo{
    width: 200px;
    margin-top: 75px;
}

section{
    margin-top: 30px;
}

p{
    margin-top: 30px;
}
.author{
    color: rgb(53, 177, 231);
}

h2{
    text-align: center;
    color: white;
}

h3{
    margin-top: 30px;
    color: rgb(135, 135, 135);
}

h4{
    color: rgb(140, 140, 140);
}

h5{
    color: rgb(166, 166, 166);
}

h6{
    color: rgb(103, 103, 103);
}

.highlights{
    background-color: yellow;
}

ul{
    margin-left: 20px;
    margin-top: 30px;
}

table{
   
    margin-top: 30px;
}

th{
    width: 33%;
    text-align: left;
    background-color: rgb(32, 169, 229);
    color: white;
}

tr td{
    text-align: left;
    background-color: rgb(177, 229, 242);  
}

.td-centrale{
    background-color: white;
}

.first-img{
    background-image: url(../img/monitor.jpg);
    width: 312px;
    height: 208px;
}

.second-img{
    background-image: url(../img/graph.jpg);
    width: 311px;
    height: 207px;
}



